<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Home Page</title>
	</head>
	<body>
		<h1>Welcome to Werewolf!</h1>
		<form th:action="@{/room/create}" method="post">
			<!-- CSRF (keep if you didn’t disable it) -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button type="submit">Create new game</button>
		</form>
		<form action="/room/enter" method="GET">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<input type="text" name="room_id" placeholder="Room Identifier"/>
			<button type="submit">Join a room</button>
		</form>
	</body>
</html>
